In [1]:
from sklearn import tree
import matplotlib.pyplot as plt
import seaborn as sb
import numpy as np
import pandas as pd

%matplotlib inline

In [2]:
df = pd.read_csv('../data/songs.csv')

In [4]:
df.describe()

,year,length,commas,exclamations,colons,hyphens
count,360.000000,360.000000,360.000000,360.000000,360.000000,360.000000
mean,2005.388889,1740.452778,16.002778,0.502778,0.269444,3.288889
std,6.891834,950.442338,17.271146,2.431225,1.128096,8.760502
min,1977.000000,29.000000,0.000000,0.000000,0.000000,0.000000
25%,2006.000000,1027.000000,3.000000,0.000000,0.000000,0.000000
50%,2006.000000,1514.500000,10.000000,0.000000,0.000000,0.000000
75%,2008.000000,2266.750000,23.000000,0.000000,0.000000,3.000000
max,2016.000000,5280.000000,100.000000,35.000000,13.000000,63.000000

In [5]:
df.head()

,song,year,artist,genre,lyrics,length,commas,exclamations,colons,hyphens
0,the-ownerz,2007,gangstarr,Hip-Hop,"""One-two..""\n""One-two, shots to the chin.. kno...",1300,24,5,0,11
1,dead-sound-of-misery,2006,blind-guardian,Metal,It's dark\nLet's do it now\nBring in the siren...,1566,0,0,0,0
2,modred-s-song,2006,blind-guardian,Metal,I've lost my battle before it starts\nmy first...,996,1,0,1,0
3,the-ninth-wave,2015,blind-guardian,Metal,As dark night embraces\nWe are the nation\nI w...,2868,5,0,0,0
4,skills,2014,gangstarr,Hip-Hop,"Skills, skills, skills\n""My Microphone""\n""It's...",3351,22,0,0,3